<!DOCTYPE html>
<html lang="en">
	<head>

		<title>Rocket Elevators - Quote</title>
		<%- include('../partials/head'); %>
	</head>

	<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->
	<!-- <body class="smoothscroll enable-animation"> -->

		<!-- SLIDE TOP -->
		<!-- <div id="slidetop">

			<div class="container">
				
				<div class="row">

					<div class="col-md-4">
						<h6><i class="icon-heart"></i> WHY ROCKET ELEVATORS?</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. </p>
					</div> -->
<!-- 
					<div class="col-md-4">
						<h6><i class="fa-facheck"></i> RECENTLY VISITED</h6>
						<ul class="list-unstyled">
							<li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> This is a very long text, very very very very very very very very very very very very </a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Dolor sit amet,consectetur adipiscing elit amet</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet,consectetur adipiscing elit</a></li>
						</ul>
					</div> -->

					<!-- <div class="col-md-4">
						<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
						<ul class="list-unstyled">
							<li><b>Address:</b> PO Box 21132, Here Weare St, <br /> Melbourne, Vivas 2355 Australia</li>
							<li><b>Phone:</b> 1-800-565-2390</li>
							<li><b>Email:</b> <a href="mailto:support@yourname.com">support@yourname.com</a></li>
						</ul>
					</div>

				</div> -->
<!-- 
			</div>

			<a class="slidetop-toggle" href="#">toggle button</a> -->
<!-- 
		</div> -->
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">

			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left scrollTo" href="index.html">
							<img src="assets/images/R2.png" alt="" />
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a href="index.html#home">
											HOME
										</a>
									</li>
									<li><!-- SERVICES -->
										<a href="index.html#services">
											SERVICES
										</a>
										<ul class="dropdown-menu">
											<li class="dropdown"><!-- Residential Services -->
												<a class="dropdown-toggle" href="residential.html">
													Residential Services
												</a>
											</li>
											<li class="dropdown"><!-- Corporate Services -->
												<a class="dropdown-toggle" href="commercial.html">
													Corporate Services
												</a>
											</li>
											<li class="dropdown"><!-- Quote Form -->
												<a class="dropdown-toggle" href="request_a_quote.html">
													Quote Form
												</a>
											</li>
										</ul>
									<li><!-- PORTFOLIO -->
										<a href="index.html#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="index.html#news">
											NEWS
										</a>
									<li><!-- CLIENTS -->
										<a href="index.html#clients">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a href="index.html#contact">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

            </div>
			<div class="container">
				<div class="row">
					<div class="col-sm">
					
	

			<h1>Request a Quote</h1>
			<form id="quote" >
				<div class="form-group">
					<label for="buildingtype">Please select the type of buildng</label>
					<select class="form-control-sm" id="buildingtype">
							<option value="">--- Please Select ---</option>
							<option value="1">Residential</option>
							<option value="2">Commercial</option>
							<option value="3">Corporate</option>
							<option value="4">Hybrid</option>
					</select> <br> <br>

					<div class="form-group" id="residential">
					<div class="form-group" id="numberofapartments">
						<label for="numberofapartment">Please enter the number of the apartments:</label>
						<input type="number" class="form-control-sm" min = "0" id="numberofapartment">
					  </div> 
					  <div class="form-group" id="numberofloors"> 
						<label for="numberoffloor">Please enter the number of the floors:</label>
						<input type="number" class="form-control-sm" min = "0" id="numberofloor">
					  </div>
					  <div class="form-group" id="numberofbasements">
						<label for="numberofbasement">Please enter the number of the basements:</label>
						<input type="number" class="form-control-sm" min = "0" id="numberofbasement">
					  </div>
					</div>  
					<div class="form-group" id="numberofoccupants">
						<label for="numberofoccupant">Please enter the number of occupants per floor:</label>
						<input type="number" class="form-control-sm" min = "0" id="numberofoccupant">
					  </div>
					  <div class="form-group" id="numberofbusinesses"> 
						<label for="numberofbusiness">Please enter the number of individual businesses:</label>
						<input type="number" class="form-control-sm" min = "0" id="numberofbusiness">
					  </div>
					  <div class="form-group" id="numberofparkingspaces">
						<label for="numberofparkingspace">Please enter the number of parking spaces available:</label>
						<input type="number" class="form-control-sm" min = "0" id="numberofparkingspace">
					  </div>
					  <div class="form-group" id="numberofelevatorcages">
						<label for="numberofelevatorcage">Please enter the number of elevator cages to be deployed:</label>
						<input type="number" class="form-control-sm" min = "0" id="numberofelevatorcage">
					  </div>
					  <div class="form-group" id="numberoftenantcompanies">
						<label for="numberoftenantcompany">Please enter the number of separate tenant companies:</label>
						<input type="number" class="form-control-sm" min = "0" id="numberoftenantcompany">
					  </div>
					  <div class="form-group" id="numberofhours">
						<label for="numberofhour">Please enter the number of hours of activity of the building: (max=24)</label>
						<input type="number" class="form-control-sm" min = "0" max = "24" id="numberofhour">
					  </div>
					</div>
					  <div class="col-sm">
						
					 
			
					  <form id="Elevator-form">
						<label>
							  Required number of Elevators:
							<input type="number" id="numberofelevators" disabled>
						</label>
					</form>
					<div id="productlineradio"> <strong>Please select one of our product line:</strong>
					</div>
					  <div class="form-check">
						<input class="form-check-input" type="radio" name="radio-btn"  value="standard">
						<label class="form-check-label" for="standard">
						 Standard
						</label>
					  </div>
					  <div class="form-check">
						<input class="form-check-input" type="radio" name="radio-btn"  value="premium">
						<label class="form-check-label" for="premium">
						  Premium
						</label>
					  </div>
					  <div class="form-check">
						<input class="form-check-input" type="radio" name="radio-btn"  value="excelium">
						<label class="form-check-label" for="excelium">
						  Excelium
						</label>
					  </div>
					

					<form id="Elevator-form">
						<label>
							  Unit cost of Elevator: $
							<input type="number" id="unitcost" disabled>
						</label>
					</form>
					<form id="Elevator-form">
						<label>
							  Installation Fee of Elevator: $
							<input type="number" id="installationcost" disabled>
						</label>
					</form>
					<p><input type="button" value="Calculate"></p>
					  <form id="calculator-form">
						<label>
							Project's final cost: $
							<input type="number" id="totalcost" disabled>
						</label>
					</form>	
					<p> Please press the reset button to evaluate a new project.</p>
						<button type="submit">Reset</button>
						<div id="calculator-results"></div>
					

				</div>
				<div class="col-sm">


					


	
			</form>
		   <div id="result"></div>
		</div>


			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			
			<script>
// '[name="buildingtype"]'

			$(document).ready(function() {
			$("#numberofapartments").hide();
			$("#numberofloors").hide();
			$("#numberofbasements").hide();
			$("#numberofbusinesses").hide();
			$("#numberofparkingspaces").hide();
			$("#numberofelevatorcages").hide();
			$("#numberoftenantcompanies").hide();
			$("#numberofoccupants").hide();
			$("#numberofhours").hide();



			

			$("#buildingtype").change(function() {
				if ($("#buildingtype").val() === "1") {
				$("#numberofapartments").show();
				$("#numberofloors").show();
				$("#numberofbasements").show();
				$("#numberofbusinesses").hide();
				$("#numberofparkingspaces").hide();
				$("#numberofelevatorcages").hide();
				$("#numberoftenantcompanies").hide();
				$("#numberofoccupants").hide();
				$("#numberofhours").hide();
				} 
				else if ($("#buildingtype").val() === "2") {
				$("#numberofapartments").hide();
				$("#numberofloors").show();
				$("#numberofbasements").show();
				$("#numberofbusinesses").show();
				$("#numberofparkingspaces").show();
				$("#numberofelevatorcages").show();
				$("#numberoftenantcompanies").hide();
				$("#numberofoccupants").hide();
				$("#numberofhours").hide();
				}
				else if ($("#buildingtype").val() === "3") {
				$("#numberofapartments").hide();
				$("#numberofloors").show();
				$("#numberofbasements").show();
				$("#numberofbusinesses").hide();
				$("#numberofparkingspaces").show();
				$("#numberofelevatorcages").hide();
				$("#numberoftenantcompanies").show();
				$("#numberofoccupants").show();
				$("#numberofhours").hide();
				}
				else if ($("#buildingtype").val() === "4") {
				$("#numberofapartments").hide();
				$("#numberofloors").show();
				$("#numberofbasements").show();
				$("#numberofbusinesses").show();
				$("#numberofparkingspaces").show();
				$("#numberofelevatorcages").hide();
				$("#numberoftenantcompanies").hide();
				$("#numberofoccupants").show();
				$("#numberofhours").show();
				}
			})
			});
			$(document).ready(function() {
			$('#numberofelevatorcage').change(function() {
						$('#numberofelevators').val($(this).val());
					});
				});

			
			$(document).ready(function() {
			$('#residential').change(function() {
				var $numberofapartment = $("#numberofapartment").val();	
				var $numberoffloor = $("#numberofloor").val();
				var $avg = $numberofapartment / $numberoffloor;
				var numofelevator = $avg/6;
				 var column = Math.ceil($numberoffloor/20);
				 numofelevator *= column;
				$('#numberofelevators').val(Math.ceil(numofelevator));
			});	
				});
				$(document).ready(function() {
				$('#numberofoccupant').change(function() {
				var $numberofoccupant= $("#numberofoccupant").val();
				var $numberoffloor = $("#numberofloor").val();
				var $numberofbasement = $("#numberofbasement").val();
				var $totalfloor = parseInt($numberoffloor) + parseInt($numberofbasement);
				var $avg = $numberofoccupant * $totalfloor;
				var numofelevator = $avg / 1000;
				var column = Math.ceil($totalfloor/20);
				numofelevator = (Math.ceil(numofelevator/column))*column;
				$('#numberofelevators').val(Math.ceil(numofelevator));
			});
	
				});

		
			$(document).ready(function(){
        	$("input[type='radio']").click(function(){
			ProductLine = $("input[name='radio-btn']:checked").val();
				// console.log('apart', ProductLine );
			if (ProductLine === "standard" ){
				var stdunitcost = 7565;
				$("#unitcost").val(stdunitcost);
				var stdinstallationcost = (0.10 * stdunitcost * $("#numberofelevators").val()).toFixed(2);
				$("#installationcost").val(stdinstallationcost);

				// console.log('apar', $("#unitcost").val());
			}
			else if (ProductLine === "premium") {
				var prmunitcost = 12345;
				$("#unitcost").val(prmunitcost);
				var prminstallationcost = (0.13 * prmunitcost * $("#numberofelevators").val()).toFixed(2);
				$("#installationcost").val(prminstallationcost);

				// console.log('unit', $("#unitcost").val());
			}
			else if ($(ProductLine === "excelium")) {
				var excunitcost = 15400;
				$("#unitcost").val(excunitcost);
				var excinstallationcost = (0.16 * excunitcost * $("#numberofelevators").val()).toFixed(2);
				$("#installationcost").val(excinstallationcost);

				// console.log('unitc', $("#unitcost").val());
			}
        });
    });
	
		$("input[type='button']").click(function() {
			//  console.log("tip", $("#unitcost").val());
			// console.log("to", $("#numberofelevators").val());
			// 	console.log("t", $("#installationcost").val())
			finalunitcost = $("#unitcost").val();
			finalnumberofelevators = $("#numberofelevators").val();
			finalinstallationcost = $("#installationcost").val();

			var totalcost = (parseInt(finalunitcost) * parseInt(finalnumberofelevators)) + parseInt(finalinstallationcost);
				//  console.log("total", totalcost);
			$("#totalcost").val(totalcost);

			});





			</script>			
  </div>
</div>
		</div>
	<!-- FOOTER -->
	<footer id="footer">
		<%- include('../partials/footer'); %>
	</footer>
	<!-- /FOOTER -->            