<!DOCTYPE html>
<html lang="en">
	<head>

		<title>Rocket Elevators - Residential</title>
		<%- include('../partials/head'); %>
	</head>

	<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->
	<!-- <body class="smoothscroll enable-animation"> -->

		<!-- SLIDE TOP
		<div id="slidetop">

			<div class="container">
				
				<div class="row"> -->

					<!-- <div class="col-md-4">
						<h6><i class="icon-heart"></i> WHY ROCKET ELEVATORS?</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. </p>
					</div> -->

					<!-- <div class="col-md-4">
						<h6><i class="fa-facheck"></i> RECENTLY VISITED</h6>
						<ul class="list-unstyled">
							<li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> This is a very long text, very very very very very very very very very very very very </a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Dolor sit amet,consectetur adipiscing elit amet</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet,consectetur adipiscing elit</a></li>
						</ul>
					</div> -->
<!-- 
					<div class="col-md-4">
						<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
						<ul class="list-unstyled">
							<li><b>Address:</b> PO Box 21132, Here Weare St, <br /> Melbourne, Vivas 2355 Australia</li>
							<li><b>Phone:</b> 1-800-565-2390</li>
							<li><b>Email:</b> <a href="mailto:support@yourname.com">support@yourname.com</a></li>
						</ul>
					</div>

				</div>

			</div> -->

			<!-- <a class="slidetop-toggle" href="#">toggle button --></a>

		</div>
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">

			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left scrollTo" href="index.html#top">
							<img src="assets/images/R2.png" alt="" />
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a href="index.html#home">
											HOME
										</a>
									</li>
									<li><!-- SERVICES -->
										<a href="index.html#services">
											SERVICES
										</a>
										<ul class="dropdown-menu">
											<li class="dropdown"><!-- Residential Services -->
												<a class="dropdown-toggle" href="residential.html">
													Residential Services
												</a>
											</li>
											<li class="dropdown"><!-- Corporate Services -->
												<a class="dropdown-toggle" href="commercial.html">
													Corporate Services
												</a>
											</li>
											<li class="dropdown"><!-- Quote Form -->
												<a class="dropdown-toggle" href="request_a_quote.html">
													Quote Form
												</a>
											</li>
										</ul>
									</li>
									<li><!-- PORTFOLIO -->
										<a href="index.html#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="index.html#news">
											NEWS
										</a>
									<li><!-- CLIENTS -->
										<a href="index.html#clients">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a href="index.html#contact">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>

			<!-- LAYER SLIDER -->
			<section class="alternate">
				<div class="container slider">

					<div class="layerslider" style="height:550px; width:1200px">

	                    <div class="ls-slide" data-ls="duration:1000;transitionorigami:true;overflow:true;kenburnsscale:1.2;">
	                    	<img width="1200" height="800" src="assets/images/AdobeStock_33298664.jpeg" class="ls-bg" alt="" sizes="(max-width: 1920px) 100vw, 1920px" />
	                    </div>

	                    <div class="ls-slide" data-ls="duration:1000;transitionorigami:true;overflow:true;kenburnsscale:1.2;">
	                    	<img width="1200" height="800" src="assets/images/AdobeStock_41696502.jpeg" class="ls-bg" alt="" sizes="(max-width: 1920px) 100vw, 1920px" />
	                    </div>

						<script>
							var layer_options = {

					                sliderVersion: '6.1.0',
					                pauseOnHover: 'disabled',
					                navStartStop: false,
					                hoverBottomNav: true,
					                showCircleTimer: false,
					                skinsPath: 'assets/plugins/slider.layerslider/skins/',
					                plugins: ["origami"]

							}
						</script>

					</div>

				</div>
			</section>
			<!-- /LAYER SLIDER -->

			<!-- -->
			<section>
				<div class="container">

					<h1>
						RESIDENTIAL SERVICES
					</h1>
					
					<hr />


					<p class="lead"> We have been trusted by our industrial partners and real estate investors to provide reliable, safe and quality elevators.</p>
					<p>Engineering is part of our identity. It tells how we think. This means that we develop and deliver reliable solutions for today and tomorrow. Together, we improve what already works and help you succeed. We are a reliable partner - this is our promise.</p>

					<div class="row">
						
						<div class="col-md-6">
							<p>The number of available elevator types is enormous: from single cabin to double-decker elevators, two independent cabins in one shaft, or many cabins traveling up, down, and sideways through multiple shafts. This diverse range empowers architects and builders to find the right mix of elevators for any type of building. The mobility solutions that best meet the needs of a mid-rise office building aren’t the same as for a mixed-use supertall skyscraper.</p>
						</div>

						<div class="col-md-6">
							<p>We know you need your elevators, escalators and other people transportation systems operating optimally at all times. Across our global service and maintenance network, our top priority is ensuring the utmost system availability, efficiency and safety. Industry-leading knowledge, processes and tools enable us to deliver on this priority. So do our topnotch technicians with their continuous training and comprehensive manufacturer-independent expertise.</p>
						</div>

					</div>

				</div>
			</section>
			<!-- / -->



			<!-- -->
			<section>
				<div class="container">
					<div class="row">
					
						<div class="col-md-4">
							
							<div class="heading-title heading-border-bottom heading-color">
								<h3>Modern</h3>
							</div>
							
							<p>Modernizing your existing elevator system with thyssenkrupp means you are getting the best quality for the best value. With a complete range of products for both traction and hydraulic applications, optimal performance, comfort and reliability will always be the end result. Our iMOD packages offer quick.</p>
							
							<a href="#">
								Read
								<!-- /word rotator -->
								<span class="word-rotator" data-delay="2000">
									<span class="items">
										<span>more</span>
										<span>now</span>
									</span>
								</span><!-- /word rotator -->
								<i class="glyphicon glyphicon-menu-right fs-12"></i>
							</a>

						</div>

						<div class="col-md-4">
							<div class="heading-title heading-border-bottom heading-color">
								<h3>Energy Efficient</h3>
							</div>
							<p>For energy-efficient machine room-less (MRL) packages, we have an MRL product for just about any application. Our traction MRL elevators are powered by a gearless machine, advanced digital controller and regenerative drive, hassle free solutions for improving the efficiency of traffic throughout your building. </p>

							<a href="#">
								Read
								<!-- /word rotator -->
								<span class="word-rotator" data-delay="2000">
									<span class="items">
										<span>more</span>
										<span>now</span>
									</span>
								</span><!-- /word rotator -->
								<i class="glyphicon glyphicon-menu-right fs-12"></i>
							</a>

						</div>

						<div class="col-md-4">
							<div class="heading-title heading-border-bottom heading-color">
								<h3>Flexible</h3>
							</div>
							<p>Our hydraulic machine room-less elevators have flexible design options and maximize your building space, have flexible design options and maximize your building space we can produce a package specific to your project requirements. We offer microprocessor based controls and they’re designed to stand the test of time.</p>

							<a href="#">
								Read
								<!-- /word rotator -->
								<span class="word-rotator" data-delay="2000">
									<span class="items">
										<span>more</span>
										<span>now</span>
									</span>
								</span><!-- /word rotator -->
								<i class="glyphicon glyphicon-menu-right fs-12"></i>
							</a>

						</div>

					</div>
					
				</div>
			</section>
			<!-- / -->




			
            

			<!-- FOOTER -->
			<footer id="footer">
				<%- include('../partials/footer'); %>
			</footer>
			<!-- /FOOTER -->